*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
pretrained/

vs/Debug
vs/Release
vs/x64
vs/*sdf
vs/*.suo
vs/vsdarknet/Debug
vs/vsdarknet/Release
vs/vsdarknet/x64
vs/vsdarknet/*.filters
vs/vsdarknet/*.user

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
